$tightGrey: #606060;
$easyBlue: #BAE8F8;

$textLineHeight: 1.6;
$headingLineHeight: 1.1;

$defaultShadow: 0 2px 5px transparentize(#000, .85);

$buttonBackgroundColor: transparentize($tightGrey, .25);

$transitionLength: .3s;
$transitionEasing: ease-in-out;
