.cookie-banner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $halfSpace;
    background-color: $pureWhite;
    box-shadow: $defaultShadowUp;
    transition: opacity $transitionLength $transitionEasing;

    &__button {
        font-weight: 600;
        cursor: pointer;
        border: 0;
        margin-left: $fourthSpace;
    }

    &--invisible {
        opacity: 0;
    }
}
