.cookie-banner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $halfSpace;
    background-color: $pureWhite;
    box-shadow: $defaultShadowUp;
    transition: opacity $transitionLength $transitionEasing;
    z-index: 1;

    .button {
        margin-left: $fourthSpace;
    }

    &--invisible {
        opacity: 0;
    }
}
